.Main {
  background-color: #d8d8d8;
  height: 100vh;
}
.Container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}
/* Input start*/
.city__input {
  display: flex;
  justify-content: center;
}
.cityAddForm {
  width: 500px;
  height: 50px;
  display: flex;
  border-radius: 12xp;
  box-shadow: 3px 3px 12px 1p rgba(0, 0, 0, 0.25);
}
.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #3a8ac0;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
}
.Button {
  width: 20%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* Input Finish */

/* Cards start */
.CardList {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.Card {
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: #3a8ac0;
  font-size: 14px;
  color: #fff;
  margin-left: 24px;
  box-shadow: 3px 3px 12px 1p rgba(0, 0, 0, 0.25);
}
.Card:first-child {
  margin-left: 0;
}
.card__body {
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: 24px;
  font-weight: 500;
}
.card__description {
  font-size: 16px;
  margin-top: 4px;
}
.card__temperature {
  font-size: 40px;
  font-weight: 500;
  margin-top: 12px;
}
.card__information {
  margin-top: 12px;
}
.card__information div {
  margin-top: 4px;
}
